:root {
    --title-color:#322153;
}
body {
    background: #f0f0f5;
}

html {
    font-family: 'Roboto', sans-serif;
}
a{
    text-decoration: none;
}
#page-home {
    height: 100vh;
    background: url('../imagens/home-background.svg') no-repeat;
    background-position: 35vw bottom;

}
#page-home .content {
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;

}
#page-home header{
    margin-top: 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#page-home header a{
    margin-top: 48px;
    display: flex;
    color: var(--title-color);
    font-weight: 700;
}
#page-home header a span {
    display: flex;
    margin-right: 16px;
    background-image: url('../imagens/log-in.svg');
    height: 20px;
    width: 20px;
}
#page-home main {
    max-width: 560px;

}
#page-home main h1 {
    font-size: 54px;
    color: var(--title-color);
}